*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
header{
    padding: 20px;
}
.header__title{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px;
    margin-top: 20px;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(32, 78, 55);
}

.header__subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(31, 121, 76);
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.copy{
    width: 100%;
    padding: 40px 0 40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.89);
    background-color: aliceblue;
    border-radius: 8px;
}
.container{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 20px;
}

.footer__title{
    padding-top: 25px;
}